%p#notice
  = notice

= link_to 'Edit', edit_product_path(@product)
= link_to 'Back', products_path

= render 'product_information'

= render 'reviews/reviews_for_product'

= link_to 'New Review', new_product_review_path(@product)