%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'Registry', catalogs_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - @catalogs.each do |catalog|
          %li{class: ('active' if catalog == @catalog)}
            = link_to catalog.name, catalog_path(catalog)
      %ul.nav.navbar-nav.navbar-right
        - if Rails.env.development?
          %li= switch_user_select
        - if can? :approve, Review and Review.pending.any?
          %li
            %a{href: pending_reviews_path, id: 'pending_reviews_link'}
              %span.glyphicon.glyphicon-exclamation-sign
              Pending reviews
        - if user_signed_in?
          %li.navbar-text= current_user.email
          %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
        - elsif admin_signed_in?
          %li.navbar-text= current_admin.email
          %li= link_to 'Sign out', destroy_admin_session_path, method: 'delete'
        - else
          %li= link_to 'Sign in', new_user_session_path