!!!
%html
  %head
    %title Registry
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navbar'
    %main{role: 'main'}
      .container
        = area :wrapper do
          = yield