= extends :application do
  = replace :wrapper do
    #left_menu
      = render 'application/left_menu'
    #content
      = yield
    - if can? :approve, Review
      = render 'layouts/pending_reviews'
